@import url('../../css/theme.css');

.paper {
	opacity: 0;
	overflow: hidden;

	/* Theme? */
	background-color: var(--default-primary-color);
	color: var(--text-primary-color);

	&.is-flex {
		display: flex;
		flex: 1;
	}

	&.is-fit {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&.is-scroll {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}
