:root {
	--dark-primary-color: #0B1F54;
	--default-primary-color: #0B1F54;
	--light-primary-color: #FFCDD2;
	--text-primary-color: #FFFFFF;
	--accent-color: #344D8F;
	--primary-text-color: #212121;
	--secondary-text-color: #757575;
	--divider-color: #BDBDBD;
}
