@import url('../../css/theme.css');

.footer-navigation {
	display: flex;
	min-height: calc((60 / 16) + 0rem);
	background-color: #0C0C0E;

	a {
		font-size: calc((10 / 16) + 0rem);
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		color: var(--text-primary-color);
		text-decoration: none;
		transition: background-color .1s linear;
		outline: 0;
		background-color: rgba(255, 255, 255, 0);

		&:active {
			background-color: rgba(255, 255, 255, .16);
		}

		&.is-selected {
			font-weight: 700;
		}
	}
}
