@import url('../../css/theme.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	-webkit-tap-highlight-color: #0000;
	color: var(--primary-text-color);
}

.layout {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.layout-body {
	position: relative;
	overflow: hidden;
	/*display: flex;
	align-items: center;
	justify-content: center;*/
	flex: 1;
}
